#nette-g-map
{
    position: relative;
    text-align: center;
}

#nette-g-map #nette-g-map-canvas
{
    margin-left: auto;
    margin-right: auto;
}

#nette-g-map #nette-g-map-search-box
{
    position: absolute;
    z-index: 999;
    border: 2px solid gainsboro;    
    width: 50%;
    overflow: auto;
    margin: auto;
    padding-left: 5px;
    top: 3px; left: 0; right: 0;
}

#nette-g-map input, #nette-g-map button {
    position: absolute;
    z-index: 999;
    width: 120px;
    right: 45px;
}

#nette-g-map button#my-actual-position
{
    bottom: 80px;
}

#nette-g-map input#latitude
{
    bottom: 50px;
}

#nette-g-map input#longitude
{
    bottom: 23px;
}
